html{
	box-sizing:border-box
}
*,*:before,*:after{
	box-sizing:inherit
}
hr{
	box-sizing:content-box;
	height:0;
	overflow:visible
}
html,body{
	font-family:Verdana,sans-serif;
	font-size:15px;
	line-height:1.5
}
html{
	overflow-x:hidden
}
h1{
	font-size:36px
}
h2{
	font-size:30px
}
h3{
	font-size:24px
}
h4{
	font-size:20px
}
h5{
	font-size:18px
}
h6{
	font-size:16px
}
.w3-serif{
	font-family:serif
}
h1,h2,h3,h4,h5,h6{
	font-family:"Segoe UI",Arial,sans-serif;
	font-weight:400;
	margin:10px 0
}
.w3-wide{
	letter-spacing:4px
}
hr{
	border:0;
	border-top:1px solid #eee;
	margin:20px 0
}
.w3-image{
	max-width:100%;
	height:auto
}
img{
	vertical-align:middle
}
a{
	color:inherit;
	text-decoration: none;
}
.quick-look{
  margin-left: 200px;
}
.main-body{
  margin-left: 200px;
}
.icon-black{
	color: #000;
}
.w3-table,.w3-table-all{
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	display:table
}
.w3-table-all{
	border:1px solid #ccc
}
.w3-bordered tr,.w3-table-all tr{
	border-bottom:1px solid #ddd
}
.w3-striped tbody tr:nth-child(even){
	background-color:#f1f1f1
}
.w3-table-all tr:nth-child(odd){
	background-color:#fff
}
.w3-table-all tr:nth-child(even){
	background-color:#f1f1f1
}
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{
	background-color:#ccc
}
.w3-centered tr th,.w3-centered tr td{
	text-align:center
}
.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{
	padding:8px 8px;
	display:table-cell;
	text-align:left;
	vertical-align:top
}
.w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{
	padding-left:16px
}
.w3-sidebar{
	height:100%;
	width:200px;
	background-color:#fff;
	position:fixed!important;
	z-index:3;
	overflow:auto
}
.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{
	width:100%
}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{
	min-width:100%
}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{
	width:100%;
	text-align:left;
	padding:8px 16px
}
.w3-main,#main{
  transition:margin-left .4s;
  margin-top: 20px;
  margin-left: 200px;
}

.w3-bar{
	width:100%;
	overflow:hidden
}
.w3-center .w3-bar{
	display:inline-block;
	width:auto
}
.w3-bar .w3-bar-item{
	padding:8px 16px;
	float:left;
	width:auto;
	border:none;
	display:block;
	outline:0
}
.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{
	position:static;
	float:left
}
.w3-bar .w3-button{
	white-space:normal
}
.w3-bar-block .w3-bar-item{
	width:100%;
	display:block;
	padding:8px 16px;
	text-align:left;
	border:none;
	white-space:normal;
	float:none;
	outline:0
}
.w3-bar-block.w3-center .w3-bar-item{
	text-align:center
}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{
	content:"";
	display:table;
	clear:both
}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{
	float:left;
	width:100%
}
@media (min-width:601px){
	.w3-col.m1{
		width:8.33333%
}
	.w3-col.m2{
		width:16.66666%
}
	.w3-col.m3,.w3-quarter{
		width:24.99999%
}
	.w3-col.m4,.w3-third{
		width:33.33333%
}
	.w3-col.m5{
		width:41.66666%
}
	.w3-col.m6,.w3-half{
		width:49.99999%
}
	.w3-col.m7{
		width:58.33333%
}
	.w3-col.m8,.w3-twothird{
		width:66.66666%
}
	.w3-col.m9,.w3-threequarter{
		width:74.99999%
}
	.w3-col.m10{
		width:83.33333%
}
	.w3-col.m11{
		width:91.66666%
}
	.w3-col.m12{
		width:99.99999%
}
}
.w3-top,.w3-bottom{
	position:fixed;
	width:100%;
	z-index:1
}
.w3-top{
	top:0
}
.w3-bottom{
	bottom:0
}
.w3-display-topleft{
	position:absolute;
	left:0;
	top:0
}
.w3-display-topright{
	position:absolute;
	right:0;
	top:0
}
.w3-display-bottomleft{
	position:absolute;
	left:0;
	bottom:0
}
.w3-display-bottomright{
	position:absolute;
	right:0;
	bottom:0
}
.w3-display-middle{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%)
}
.w3-display-left{
	position:absolute;
	top:50%;
	left:0%;
	transform:translate(0%,-50%);
	-ms-transform:translate(-0%,-50%)
}
.w3-display-right{
	position:absolute;
	top:50%;
	right:0%;
	transform:translate(0%,-50%);
	-ms-transform:translate(0%,-50%)
}
.w3-display-topmiddle{
	position:absolute;
	left:50%;
	top:0;
	transform:translate(-50%,0%);
	-ms-transform:translate(-50%,0%)
}

.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{
	padding:0 8px
}
.w3-container{
	padding:0.01em 15px
}
.w3-card,.w3-card-2{
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.w3-card-4,.w3-hover-shadow:hover{
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
.w3-spin{
	animation:w3-spin 2s infinite linear
}

.w3-animate-left{
	position:relative;
	animation:animateleft 0.4s
}
@keyframes animateleft{
	from{
		left:-300px;
		opacity:0
}
	to{
		left:0;
		opacity:1
}
}
.w3-animate-right{
	position:relative;
	animation:animateright 0.4s
}
@keyframes animateright{
	from{
		right:-300px;
		opacity:0
}
	to{
		right:0;
		opacity:1
}
}
.w3-animate-bottom{
	position:relative;
	animation:animatebottom 0.4s
}
@keyframes animatebottom{
	from{
		bottom:-300px;
		opacity:0
}
	to{
		bottom:0;
		opacity:1
}
}
.w3-animate-zoom {
	animation:animatezoom 0.6s
}
@keyframes animatezoom{
	from{
		transform:scale(0)
}
	to{
		transform:scale(1)
}
}
.w3-animate-input{
	transition:width 0.4s ease-in-out
}
.w3-animate-input:focus{
	width:100%!important
}
.w3-opacity,.w3-hover-opacity:hover{
	opacity:0.60
}
.w3-opacity-off,.w3-hover-opacity-off:hover{
	opacity:1
}
.w3-tiny{
	font-size:10px!important
}
.w3-small{
	font-size:12px!important
}
.w3-medium{
	font-size:15px!important
}
.w3-large{
	font-size:18px!important
}
.w3-xlarge{
	font-size:24px!important
}
.w3-xxlarge{
	font-size:36px!important
}
.w3-xxxlarge{
	font-size:48px!important
}
.w3-jumbo{
	font-size:64px!important
}
.w3-left-align{
	text-align:left!important
}
.w3-right-align{
	text-align:right!important
}
.w3-justify{
	text-align:justify!important
}
.w3-center{
	text-align:center!important
}

.w3-topbar{
	border-top:6px solid #ccc!important
}
.w3-bottombar{
	border-bottom:6px solid #ccc!important
}

.w3-padding-16{
	padding-top:16px!important;
	padding-bottom:16px!important
}
.w3-padding-32{
	padding-top:32px!important;
	padding-bottom:32px!important
}
.w3-left{
	float:left!important
}
.w3-right{
	float:right!important
}
.w3-button:hover{
	color:#000!important;
	background-color:#ccc!important
}
.w3-hover-none:hover{
	box-shadow:none!important
}
/* Colors */
.w3-blue,.w3-hover-blue:hover{
	color:#fff!important;
	background-color:#2196F3!important
}
.w3-blue-grey,.w3-hover-blue-grey:hover,.w3-blue-gray,.w3-hover-blue-gray:hover{
	color:#fff!important;
	background-color:#607d8b!important
}
.w3-green,.w3-hover-green:hover{
	color:#fff!important;
	background-color:#4CAF50!important
}
.w3-orange,.w3-hover-orange:hover{
	color:#000!important;
	background-color:#ff9800!important
}
.w3-red,.w3-hover-red:hover{
	color:#fff!important;
	background-color:#f44336!important
}
.w3-white,.w3-hover-white:hover{
	color:#000!important;
	background-color:#fff!important
}
.w3-black,.w3-hover-black:hover{
	color:#fff!important;
	background-color:#000!important
}
.w3-grey,.w3-hover-grey:hover,.w3-gray,.w3-hover-gray:hover{
	color:#000!important;
	background-color:#9e9e9e!important
}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{
	color:#000!important;
	background-color:#f1f1f1!important
}
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{
	color:#fff!important;
	background-color:#616161!important
}
.text-white,.w3-hover-text-white:hover{
	color:#fff!important
}
.text-black,.w3-hover-text-black:hover{
	color:#000!important
}

.border-green,.w3-hover-border-green:hover{
	border-color:#4CAF50!important
}
.border-orange,.w3-hover-border-orange:hover{
	border-color:#ff9800!important
}
.border-red,.hover-border-red:hover{
	border-color:#f44336!important
}